.new-chat-menu {
    height: 100%;
    width: 39%;
    background-color: lightgray;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.new-chat-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 15vh;
    padding: 1rem 1rem;
    background-color: #008069;
}

.new-chat-menu-back-icon {
    width: 35px;
    transform: rotate(180deg);
    cursor: pointer;
}

.new-chat-menu-label {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.new-chat-menu-body {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    background-color: white;
    height: calc(100% - 15vh);
}

.new-chat-menu-user-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #aaaaaa5c;
    cursor: pointer;
}

.new-chat-menu-user-row:hover {
    background-color: #f0f2f5;
}

.new-chat-menu-row-name {
    font-size: 20px;
    margin-left: 30px;
}

@media screen and (max-height: 450px) {
    .new-chat-menu {
        padding-top: 15px;
    }
    .new-chat-menu a {
        font-size: 18px;
    }
}
