.login-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
}
.login-box {
    margin: auto;
    display: flex;
}

.new-user, .existing-user {
    margin: 30px;
    padding: 20px;
    font-size: 30px;
}

.existing-user {
}
